table {
    table-layout: fixed;
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid rgb(171, 136, 136);
}

td {
    width: 30px;
}

tr {
    height: 30px;
}

th {
    text-align: center;
}

.upper-triangle td {
    background-color: rgb(115, 115, 115);
}

.upper-triangle tr:nth-child(1) td:nth-child(n+2),
.upper-triangle tr:nth-child(2) td:nth-child(n+3),
.upper-triangle tr:nth-child(3) td:nth-child(n+4),
.upper-triangle tr:nth-child(4) td:nth-child(n+5),
.upper-triangle tr:nth-child(5) td:nth-child(n+6),
.upper-triangle tr:nth-child(6) td:nth-child(n+7),
.upper-triangle tr:nth-child(7) td:nth-child(n+8),
.upper-triangle tr:nth-child(8) td:nth-child(n+9),
.upper-triangle tr:nth-child(9) td:nth-child(n+10),
.upper-triangle tr:nth-child(10) td:nth-child(n+11),
.upper-triangle tr:nth-child(11) td:nth-child(n+12),
.upper-triangle tr:nth-child(12) td:nth-child(n+13),
.upper-triangle tr:nth-child(13) td:nth-child(n+14),
.upper-triangle tr:nth-child(14) td:nth-child(n+15),
.upper-triangle tr:nth-child(15) td:nth-child(n+16),
.upper-triangle tr:nth-child(16) td:nth-child(n+17),
.upper-triangle tr:nth-child(17) td:nth-child(n+18),
.upper-triangle tr:nth-child(18) td:nth-child(n+19),
.upper-triangle tr:nth-child(19) td:nth-child(n+20),
.upper-triangle tr:nth-child(20) td:nth-child(n+21),
.upper-triangle tr:nth-child(21) td:nth-child(n+22),
.upper-triangle tr:nth-child(22) td:nth-child(n+23),
.upper-triangle tr:nth-child(23) td:nth-child(n+24),
.upper-triangle tr:nth-child(24) td:nth-child(n+25),
.upper-triangle tr:nth-child(25) td:nth-child(n+26),
.upper-triangle tr:nth-child(26) td:nth-child(n+27),
.upper-triangle tr:nth-child(27) td:nth-child(n+28),
.upper-triangle tr:nth-child(28) td:nth-child(n+29),
.upper-triangle tr:nth-child(29) td:nth-child(n+30),
.upper-triangle tr:nth-child(30) td:nth-child(n+31),
.upper-triangle tr:nth-child(31) td:nth-child(n+32),
.upper-triangle tr:nth-child(32) td:nth-child(n+33),
.upper-triangle tr:nth-child(33) td:nth-child(n+34),
.upper-triangle tr:nth-child(34) td:nth-child(n+35),
.upper-triangle tr:nth-child(35) td:nth-child(n+36),
.upper-triangle tr:nth-child(36) td:nth-child(n+37),
.upper-triangle tr:nth-child(37) td:nth-child(n+38),
.upper-triangle tr:nth-child(38) td:nth-child(n+39),
.upper-triangle tr:nth-child(39) td:nth-child(n+40),
.upper-triangle tr:nth-child(40) td:nth-child(n+41),
.upper-triangle tr:nth-child(41) td:nth-child(n+42),
.upper-triangle tr:nth-child(42) td:nth-child(n+43),
.upper-triangle tr:nth-child(43) td:nth-child(n+44),
.upper-triangle tr:nth-child(44) td:nth-child(n+45),
.upper-triangle tr:nth-child(45) td:nth-child(n+46) {
    background-color: rgb(255, 255, 255);
}

/* Highlight diagonal in special color */
.upper-triangle tr:nth-child(1) td:nth-child(2),
.upper-triangle tr:nth-child(2) td:nth-child(3),
.upper-triangle tr:nth-child(3) td:nth-child(4),
.upper-triangle tr:nth-child(4) td:nth-child(5),
.upper-triangle tr:nth-child(5) td:nth-child(6),
.upper-triangle tr:nth-child(6) td:nth-child(7),
.upper-triangle tr:nth-child(7) td:nth-child(8),
.upper-triangle tr:nth-child(8) td:nth-child(9),
.upper-triangle tr:nth-child(9) td:nth-child(10),
.upper-triangle tr:nth-child(10) td:nth-child(11),
.upper-triangle tr:nth-child(11) td:nth-child(12),
.upper-triangle tr:nth-child(12) td:nth-child(13),
.upper-triangle tr:nth-child(13) td:nth-child(14),
.upper-triangle tr:nth-child(14) td:nth-child(15),
.upper-triangle tr:nth-child(15) td:nth-child(16),
.upper-triangle tr:nth-child(16) td:nth-child(17),
.upper-triangle tr:nth-child(17) td:nth-child(18),
.upper-triangle tr:nth-child(18) td:nth-child(19),
.upper-triangle tr:nth-child(19) td:nth-child(20),
.upper-triangle tr:nth-child(20) td:nth-child(21),
.upper-triangle tr:nth-child(21) td:nth-child(22),
.upper-triangle tr:nth-child(22) td:nth-child(23),
.upper-triangle tr:nth-child(23) td:nth-child(24),
.upper-triangle tr:nth-child(24) td:nth-child(25),
.upper-triangle tr:nth-child(25) td:nth-child(26),
.upper-triangle tr:nth-child(26) td:nth-child(27),
.upper-triangle tr:nth-child(27) td:nth-child(28),
.upper-triangle tr:nth-child(28) td:nth-child(29),
.upper-triangle tr:nth-child(29) td:nth-child(30),
.upper-triangle tr:nth-child(30) td:nth-child(31),
.upper-triangle tr:nth-child(31) td:nth-child(32),
.upper-triangle tr:nth-child(32) td:nth-child(33),
.upper-triangle tr:nth-child(33) td:nth-child(34),
.upper-triangle tr:nth-child(34) td:nth-child(35),
.upper-triangle tr:nth-child(35) td:nth-child(36),
.upper-triangle tr:nth-child(36) td:nth-child(37),
.upper-triangle tr:nth-child(37) td:nth-child(38),
.upper-triangle tr:nth-child(38) td:nth-child(39),
.upper-triangle tr:nth-child(39) td:nth-child(40),
.upper-triangle tr:nth-child(40) td:nth-child(41),
.upper-triangle tr:nth-child(41) td:nth-child(42),
.upper-triangle tr:nth-child(42) td:nth-child(43),
.upper-triangle tr:nth-child(43) td:nth-child(44),
.upper-triangle tr:nth-child(44) td:nth-child(45),
.upper-triangle tr:nth-child(45) td:nth-child(46) {
    background-color: rgb(148, 219, 255);
}